<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p0401p020014.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1170},{816,326}}</string>
                <key>offset</key>
                <string>{104,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,1},{816,326}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020015.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,334},{834,330}}</string>
                <key>offset</key>
                <string>{95,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,0},{834,330}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020016.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{852,330}}</string>
                <key>offset</key>
                <string>{86,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,0},{852,330}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020017.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1490},{706,266}}</string>
                <key>offset</key>
                <string>{159,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,27},{706,266}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020018.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1210},{724,278}}</string>
                <key>offset</key>
                <string>{150,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,21},{724,278}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020019.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,922},{742,286}}</string>
                <key>offset</key>
                <string>{141,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,18},{742,286}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020020.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,334},{760,298}}</string>
                <key>offset</key>
                <string>{132,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,12},{760,298}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020021.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,334},{778,308}}</string>
                <key>offset</key>
                <string>{123,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,8},{778,308}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020022.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1170},{796,318}}</string>
                <key>offset</key>
                <string>{114,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,3},{796,318}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1170},{816,326}}</string>
                <key>offset</key>
                <string>{104,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,1},{816,326}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{834,330}}</string>
                <key>offset</key>
                <string>{95,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,0},{834,330}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{852,330}}</string>
                <key>offset</key>
                <string>{86,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,0},{852,330}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020026.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,634},{742,286}}</string>
                <key>offset</key>
                <string>{141,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,18},{742,286}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S4Story4.pvr.ccz</string>
            <key>size</key>
            <string>{1748,1988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8705378154a26930cdfb91d907816f9a$</string>
            <key>textureFileName</key>
            <string>S4Story4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
