<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p0401p020001.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1396},{760,298}}</string>
                <key>offset</key>
                <string>{132,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,12},{760,298}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020002.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1696},{778,308}}</string>
                <key>offset</key>
                <string>{123,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,8},{778,308}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{796,318}}</string>
                <key>offset</key>
                <string>{114,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,3},{796,318}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{816,326}}</string>
                <key>offset</key>
                <string>{104,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,1},{816,326}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{834,330}}</string>
                <key>offset</key>
                <string>{95,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,0},{834,330}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{852,330}}</string>
                <key>offset</key>
                <string>{86,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,0},{852,330}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020007.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,270},{688,256}}</string>
                <key>offset</key>
                <string>{168,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,31},{688,256}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020008.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{706,266}}</string>
                <key>offset</key>
                <string>{159,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,27},{706,266}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020009.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,528},{724,278}}</string>
                <key>offset</key>
                <string>{150,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,21},{724,278}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020010.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,808},{742,286}}</string>
                <key>offset</key>
                <string>{141,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,18},{742,286}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020011.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1096},{760,298}}</string>
                <key>offset</key>
                <string>{132,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,12},{760,298}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1696},{778,308}}</string>
                <key>offset</key>
                <string>{123,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,8},{778,308}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
            <key>p0401p020013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{796,318}}</string>
                <key>offset</key>
                <string>{114,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,3},{796,318}}</string>
                <key>sourceSize</key>
                <string>{1024,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S4Story3.pvr.ccz</string>
            <key>size</key>
            <string>{1564,2006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90ef3e435fa9c383f4858b2d6ddf9af1$</string>
            <key>textureFileName</key>
            <string>S4Story3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
