<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p0401p040049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,1106},{290,234}}</string>
                <key>offset</key>
                <string>{153,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,295},{290,234}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,1106},{290,234}}</string>
                <key>offset</key>
                <string>{153,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,295},{290,234}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,502},{602,240}}</string>
                <key>offset</key>
                <string>{-3,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,295},{602,240}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{602,470}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,71},{602,470}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040053.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{602,498}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{602,498}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{602,498}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{602,498}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{602,498}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{602,498}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040056.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,502},{602,496}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{602,496}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,2},{550,498}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,45},{550,498}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,502},{504,498}}</string>
                <key>offset</key>
                <string>{46,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,45},{504,498}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040059.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1000},{478,496}}</string>
                <key>offset</key>
                <string>{59,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,47},{478,496}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1002},{488,436}}</string>
                <key>offset</key>
                <string>{32,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,107},{488,436}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S4Story9.pvr.ccz</string>
            <key>size</key>
            <string>{1958,1480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c76087eabae6f35411ff56cf3bab1e9$</string>
            <key>textureFileName</key>
            <string>S4Story9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
