<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p0401p040025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1496},{500,434}}</string>
                <key>offset</key>
                <string>{23,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,109},{500,434}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040026.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1560},{502,442}}</string>
                <key>offset</key>
                <string>{22,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,101},{502,442}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040027.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1046},{506,448}}</string>
                <key>offset</key>
                <string>{21,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,95},{506,448}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040028.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,534},{510,456}}</string>
                <key>offset</key>
                <string>{19,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,87},{510,456}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1560},{512,462}}</string>
                <key>offset</key>
                <string>{18,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,81},{512,462}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040030.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1046},{512,468}}</string>
                <key>offset</key>
                <string>{19,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,75},{512,468}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040031.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,498},{512,476}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,67},{512,476}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{512,482}}</string>
                <key>offset</key>
                <string>{19,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,61},{512,482}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040033.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{510,494}}</string>
                <key>offset</key>
                <string>{19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,49},{510,494}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{508,510}}</string>
                <key>offset</key>
                <string>{20,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,33},{508,510}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{514,530}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,13},{514,530}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{492,428}}</string>
                <key>offset</key>
                <string>{27,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,115},{492,428}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S4Story7.pvr.ccz</string>
            <key>size</key>
            <string>{1464,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d947cbabeb7d324210bc83c94a6b3b37$</string>
            <key>textureFileName</key>
            <string>S4Story7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
