<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p0401p040001.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,894},{488,436}}</string>
                <key>offset</key>
                <string>{32,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,107},{488,436}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,488},{486,438}}</string>
                <key>offset</key>
                <string>{33,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,105},{486,438}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{486,440}}</string>
                <key>offset</key>
                <string>{33,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,103},{486,440}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,442}}</string>
                <key>offset</key>
                <string>{34,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,101},{486,442}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040005.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,888},{482,442}}</string>
                <key>offset</key>
                <string>{35,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,101},{482,442}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040006.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{482,444}}</string>
                <key>offset</key>
                <string>{36,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,99},{482,444}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040007.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,448},{480,444}}</string>
                <key>offset</key>
                <string>{37,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,99},{480,444}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040008.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{482,444}}</string>
                <key>offset</key>
                <string>{36,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,99},{482,444}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{484,442}}</string>
                <key>offset</key>
                <string>{35,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,101},{484,442}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{484,440}}</string>
                <key>offset</key>
                <string>{34,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,103},{484,440}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040011.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,448},{486,438}}</string>
                <key>offset</key>
                <string>{33,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,105},{486,438}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040012.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,894},{488,436}}</string>
                <key>offset</key>
                <string>{32,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,107},{488,436}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S4Story5.pvr.ccz</string>
            <key>size</key>
            <string>{1902,1332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b6a74b85ef5f31e159be32fa006242c$</string>
            <key>textureFileName</key>
            <string>S4Story5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
