<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p0401p040013.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{490,440}}</string>
                <key>offset</key>
                <string>{31,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,103},{490,440}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040014.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{488,440}}</string>
                <key>offset</key>
                <string>{32,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,103},{488,440}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,894},{486,442}}</string>
                <key>offset</key>
                <string>{33,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,101},{486,442}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040016.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,444},{486,444}}</string>
                <key>offset</key>
                <string>{34,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,99},{486,444}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040017.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,890},{484,446}}</string>
                <key>offset</key>
                <string>{34,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,97},{484,446}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,2},{484,446}}</string>
                <key>offset</key>
                <string>{35,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,97},{484,446}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{482,448}}</string>
                <key>offset</key>
                <string>{36,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,95},{482,448}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040020.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,890},{484,446}}</string>
                <key>offset</key>
                <string>{35,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,97},{484,446}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040021.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,444},{486,444}}</string>
                <key>offset</key>
                <string>{34,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,99},{486,444}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{486,444}}</string>
                <key>offset</key>
                <string>{33,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,99},{486,444}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,450},{488,442}}</string>
                <key>offset</key>
                <string>{32,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,101},{488,442}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,440}}</string>
                <key>offset</key>
                <string>{31,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,103},{490,440}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S4Story6.pvr.ccz</string>
            <key>size</key>
            <string>{1962,1340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a78687f9500b5df0c0a0581b353b581$</string>
            <key>textureFileName</key>
            <string>S4Story6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
