<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p0401p040037.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,486},{592,486}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,57},{592,486}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{602,486}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{602,486}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040039.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{602,482}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{602,482}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,2},{602,420}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,110},{602,420}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,606},{602,334}}</string>
                <key>offset</key>
                <string>{-3,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,195},{602,334}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{602,294}}</string>
                <key>offset</key>
                <string>{-3,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,235},{602,294}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,2},{602,272}}</string>
                <key>offset</key>
                <string>{-3,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,257},{602,272}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{290,234}}</string>
                <key>offset</key>
                <string>{153,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,295},{290,234}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{290,234}}</string>
                <key>offset</key>
                <string>{153,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,295},{290,234}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{290,234}}</string>
                <key>offset</key>
                <string>{153,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,295},{290,234}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{290,234}}</string>
                <key>offset</key>
                <string>{153,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,295},{290,234}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
            <key>p0401p040048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{290,234}}</string>
                <key>offset</key>
                <string>{153,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,295},{290,234}}</string>
                <key>sourceSize</key>
                <string>{608,558}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S4Story8.pvr.ccz</string>
            <key>size</key>
            <string>{1906,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9618f3471c76e5a76137bee8f463bf20$</string>
            <key>textureFileName</key>
            <string>S4Story8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
