<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p0401p01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p0401p03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{688,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,293}}</string>
                <key>sourceSize</key>
                <string>{688,293}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S4Story1.pvr.ccz</string>
            <key>size</key>
            <string>{1323,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36fabaac662ebd876e6936641ed9b56d$</string>
            <key>textureFileName</key>
            <string>S4Story1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
